* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.mobile {
    font-size: 18px;
    background-color: white;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    /* color: white; */
    display: flex;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid lightgray;
}

.logo {
    letter-spacing: 4px;
    margin-left: 20px;
    position: fixed;
    top: -1px;
}

.appName {
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 5%; */
    flex-wrap: 0;
    /* padding-right: 2%; */

}

header {
    color: grey;
    text-align: center;
    margin-top: 100px;
}


input {
    margin-top: 4%;
}


button:hover {
    cursor: pointer;
}

img {
    height: 16px;
    width: 40px;
    margin-right: 1.5%;
    padding-left: 7px;
}

.error-message {
    color: darkred;
    text-align: center;
}

.hidden {
    display: none;
}

input.uppercase { 
    text-transform: uppercase; 
}

.gain {
    color: darkgreen;
}

.loss {
    color: darkred;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 1%;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 4px;
}


li p, h4 {
    flex: 1;
    padding-right: 3%;
}

h4 {
    width: 10%;
}

#deleteAsset {
    border: none;
}

#deleteAsset:hover {
    color: darkred;
}

.asset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.all-results {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
    border-radius: 4px;
}

.d {
    width: 70%;
    height: 275px;
    align-self: center;
    padding: 1% 0;
}

canvas {
    border-radius: 1%;
    border: 1px solid lightgray;
    /* padding: 2%; */
}

input[type=submit] {
    /* padding:5px 15px;  */
    /* background: rgba(34,50,84,0.08); */
    cursor:pointer;
    border-radius: 5px;
    /* border-radius: 5px; */
    height: 40px;
    width: 100%;
    align-self: center;
    outline: none;
    font-size: 14px;
    margin-top: 0%;
}

input[type=submit]:hover {
    /* background: white; */
    background: rgb(211,211,211, 0.2)

}


.inp {
    display: inline-block;
    position: relative;
    margin: auto;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #21CE99;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 300px;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    /* padding: 4%; */

    height: 48px;
    font-size: 14px;
    border-bottom: 2px solid lightgray;
    /* background: none; */
    border-radius: 0;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34,50,84,0.03);
}

.inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-7px) scale(0.65);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus + span {
    color: #21CE99;
    transform: translateY(-7px) scale(0.65);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}

.c input:focus + span {
    color: #4B0082;
    transform: translateY(-7px) scale(0.65);
}

.c .border {
    background: #4B0082;
}

/* .green {
    color: #21CE99;
}

.indigo {
    color: #4B0082;
} */



@media screen and (max-width: 750px) {
    
    main {
        width: 100%;
    }

    .all-results {
        width: 100%;
    }

    .inp input {
        width: 270px;
    }

    .d {
        width: 100%;
        padding: 1%;
    }

    img {
        padding-left: 10px;
    }
    
    canvas {
        border-radius: 1%;
        border: 1px solid lightgray;
    }
}
