* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

header {
    text-align: center;
}

input {
    margin-top: 3%;
}

button:hover {
    cursor: pointer;
}

img {
    height: 20px;
    width: 50px;
    margin-right: 2%;
}

.error-message {
    color: red;
    text-align: center;
}

.hidden {
    display: none;
}

input.uppercase { 
    text-transform: uppercase; 
}

.gain {
    color: green;
}

.loss {
    color: red;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

li p, h4 {
    flex: 1;
}

.asset {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    width: 50%;
}

main {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}

.all-results {
    display: flex;
    flex-direction: column;
    width: 55%;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1%;
    align-self: flex-start;
    padding-bottom: 3%;
}

.d {
    width: 44%;
    height: 500px;
}

.line {
    border-bottom: 1px solid lightgray;
    padding: 2% 0% 2%;
}

canvas {
    border-radius: 1%;
    border: 1px solid lightgray;
    padding: 2%;
}

@media screen and (max-width: 750px) {
    

    
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .all-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: 1%;
    }
    
    .asset {
        width: 100%;
        margin: 1%;
    }

    .cp {
        display: none;
    }
    
    .d {
        width: 100%;
        margin: 1%;
        padding: 0%;
    }
    
    .line {
        border-bottom: 1px solid lightgray;
        padding: 2% 0% 2%;
    }
    
    canvas {
        border-radius: 1%;
        border: 1px solid lightgray;
    }
}
