* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

header {
    text-align: center;
}

input {
    margin-top: 3%;
}

button:hover {
    cursor: pointer;
}

img {
    height: 16px;
    width: 40px;
    margin-right: 1.5%;
    padding-left: 7px;
}

.error-message {
    color: red;
    text-align: center;
}

.hidden {
    display: none;
}

input.uppercase { 
    text-transform: uppercase; 
}

.gain {
    color: green;
}

.loss {
    color: red;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

h4 {
    padding-right: 10%;
}

li p, h4 {
    flex: 1 0;
}

.asset {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    width: 100%;
}

main {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}

.all-results {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1%;
    align-self: flex-start;
    padding-bottom: 3%;
}

.d {
    width: 49%;
    height: 450px;
}

.line {
    border-bottom: 1px solid lightgray;
    padding: 2% 0% 2%;
}

canvas {
    border-radius: 1%;
    border: 1px solid lightgray;
    padding: 2%;
}

input[type=submit] {
    padding:5px 15px; 
    /* background: rgb(75,192,192);  */
    /* border:0 */
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 90px; 
    height: 40px;
}

input[type=submit]:hover {
    background-color: #21CE99;
    box-shadow: 0px 15px 20px rgba(33, 206, 153, 0.4);
    color: #fff;
}

input[type=submit].purp:hover {
    background-color: #ED32B9;
    box-shadow: 0px 15px 20px rgba(237, 50, 185, 0.4);
}

#crypto-form {
    padding-top: 2%;
}

.inp {
    display: inline-block;
    position: relative;
    margin: auto;}
  .inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;}
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #21CE99;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;}
  .inp input {
    -webkit-appearance: none;
    width: 400px;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    /* color: #223254; */
    transition: all 0.15s ease;
}
  .inp input:hover {
    background: rgba(34,50,84,0.03);
}
  .inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
  .inp input:focus {
    background: none;
    outline: none;
}
  .inp input:focus + span {
    color: #21CE99;
    transform: translateY(-26px) scale(0.75);
}
  .inp input:focus + span + .border {
    transform: scaleX(1);
}
  



@media screen and (max-width: 750px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .all-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin: 1%;
        /* padding: 1%; */
    }
    
    .asset {
        width: 100%;
        margin: 1%;
    }

    .inp input {
        width: 200px;
    }

    .cp {
        display: none;
    }
    
    ul {
        padding: 1%;
    }

    .d {
        width: 100%;
        margin: 1%;
        padding: 0%;
    }

    img {
        padding-left: 10px;
    }
    
    .line {
        border-bottom: 1px solid lightgray;
        padding: 2% 0% 2%;
    }
    
    canvas {
        border-radius: 1%;
        border: 1px solid lightgray;
    }
}
